body{
	font-size: 16px; /*1em es un estandar*/
	margin: 0px auto;
	/*1078 es requerimiento del cliente, lo normal es 1024*/
	max-width: 1078px;
	min-height: 1078px;
}

header input{
	float: right;
	margin-right: -200px;
	margin-top: 15px;
	position: relative;
}
header nav{
	margin-left: 220px;
	/*text-align: center;*/
}
header nav ul li{
	color: gray;
	display: inline-block; /*cambiar orientacion*/
	font-size: 1.8em;
	margin-right: 15px;
	/*text-decoration: underline;*/
	border-bottom: 1px solid gray;
	padding-bottom: 2px;
}
#bgoffer{
	left: -35px;
	position: relative; /* si quitamos la position relative la caja sehace estatica y no funciona el top*/
	top: -410px;
}
#granthams{
	margin-top: 25px;
	margin-left: 25px;
}
#paint{
	float: right;
}
#primerseccion{
	/*border: 1px solid blue;*/
	height: 318px;
	margin-top: 60px;
}
#primerseccion article{
	/*border: 1px solid red;*/
	display: inline-block;
	vertical-align: top;
}
#secc01art01{
	margin-left: 30px;
	width: 61%;
}
#secc01art02{
	margin-left: 50px;
	width: 30%;
}
#secc01art02 ul{
	list-style: none; /*quitamos vi;etas*/
}
#secc01art02 ul li:before{
	color: #b28787;
	content: "• ";
}
#segundaseccion article{
	text-align: right;
	padding-right: 130px;
}
.colorrosa{
	color: #FF0099;
}
.letragrande{
	font-size: 3.5em; /*3,5X16*/
}
.letramediana{
	font-size: 2em;
}
.nito {
	font-weight: bold;
}